<p class="fw-bold mb-1">
  <%= comment.author.username %>
  <% if policy(comment).destroy? %>
    <%= link_to '', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: "bi bi-trash-fill text-danger fs-4 ms-2" %>
  <% end %>
</p>
<p class="mb-4">
  <%= comment.body %>
</p>

