<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p>
    <%= form.text_area :body, class: "form-control w-50" %>
  </p>
  <p>
    <%= form.submit class: "btn btn-primary" %>
  </p>
<% end %>