
<div class="row">
  <div class="col-md-9 col-12">
    <div class="row align-items-center mb-4">
      <div class="col-auto"><h4 class="pt-2">Drafts</h4></div>
    </div>

    <%= render 'posts', posts: @posts %>


  </div>
</div>